{% extends '::base.html.twig' %}
        {% block body %}
        <body>
        <h1>Profesor insertado</h1><br>
        <p>El profesor ha sido insertada satisfactoriamente</p>
        <a href="all"><button class="submit">Volver</button></a> 
        </body>
        {% endblock %}