{% extends '::base.html.twig' %}
        {% block body %}
        <body>
        <h1>Configuracion insertada</h1><br>
        <p>La configuracion ha sido insertada satisfactoriamente</p>
        <a href="all"><button class="submit">Volver</button></a> 
        </body>
        {% endblock %}
</html>